################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ImprovedPicpay/FileContentIndex/read.lock
/.vs/ImprovedPicpay/FileContentIndex/238660ad-f856-446d-ad5a-c9dd6a50f896.vsidx
/.vs/ImprovedPicpay/FileContentIndex/53702527-76b1-4e74-b4c5-d5f9a29d8445.vsidx
*.vsidx
/bin/Debug/net7.0/ImprovedPicpay.deps.json
/bin/Debug/net7.0/ImprovedPicpay.dll
/bin/Debug/net7.0/ImprovedPicpay.runtimeconfig.json
*.dll
/bin/Debug/net7.0/ImprovedPicpay.pdb
/bin/Debug/net7.0/ImprovedPicpay.exe
/.vs/ImprovedPicpay/config/applicationhost.config
/obj/Debug/net7.0/ImprovedPicpay.assets.cache
/obj/Debug/net7.0/ref/ImprovedPicpay.dll
*.exe
/obj/Debug/net7.0/ImprovedPicpay.dll
/obj/Debug/net7.0/ImprovedPicpay.csproj.AssemblyReference.cache
/obj/project.nuget.cache
/obj/project.assets.json
/obj/ImprovedPicpay.csproj.nuget.g.targets
/obj/ImprovedPicpay.csproj.nuget.g.props
/obj/ImprovedPicpay.csproj.nuget.dgspec.json
/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.ImprovedPicpay.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.ImprovedPicpay.props
/obj/Debug/net7.0/ImprovedPicpay.pdb
/obj/Debug/net7.0/ImprovedPicpay.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net7.0/ImprovedPicpay.genruntimeconfig.cache
/obj/Debug/net7.0/ImprovedPicpay.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/ImprovedPicpay.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/ImprovedPicpay.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/ImprovedPicpay.csproj.BuildWithSkipAnalyzers
/obj/Debug/net7.0/refint/ImprovedPicpay.dll
*.v2
/.vs/ProjectEvaluation/improvedpicpay.metadata.v6.1
/.vs/ProjectEvaluation/improvedpicpay.projects.v6.1
/obj/Debug/net7.0/project.razor.vs.json
/.vs/ImprovedPicpay/v17/.suo
